#header {
    background-image: url(https://raw.githubusercontent.com/HeyItsJun/kazs-ao3-custom-skins/main/assets/kaoru-hana/kaoru-header.png);
    background-repeat: no-repeat;
    background-position: center 55%;
    background-color: #784848;
    background-size: cover;
    height: 240px;
}

#outer.wrapper {
  background: #784848;
  background-image: url("https://raw.githubusercontent.com/HeyItsJun/kazs-ao3-custom-skins/main/assets/kaoru-hana/kaoru-rin-bg.jpg");
  background-size: 30% auto;
  background-repeat: repeat;
  background-position: center top;
  color: d89090;
}

#inner.wrapper {
  margin: 0em 4%;
}

#main,
#inner.wrapper,
.listbox .index,
.work.own,
.thread .even {
  background: #d89090;
}

#main .heading {
  color: #d89090 !important;
}

#header .heading {
  height: 15em;
}

#header .primary {
  background: #784848;
}

#header .logo,
#header .heading sup {
  visibility: hidden;
}