#header {
    background-image: url(https://raw.githubusercontent.com/HeyItsJun/kazs-ao3-custom-skins/blob/main/assets/kaoru-hana/kaoru-rin-header.jpg);
    background-repeat: no-repeat;
    background-position: center 55%;
    background-color: #D89090;
    background-size: cover;
    height: 240px;
}

#outer.wrapper {
  background: #a86078;
  background-image: url("https://raw.githubusercontent.com/HeyItsJun/kazs-ao3-custom-skins/blob/main/assets/kaoru-hana/kaoru-rin-bg.jpg");
  background-size: 30% auto;
  background-repeat: repeat;
  background-position: center top;
  color: #f4e0e0;
}

#inner.wrapper {
  margin: 0em 4%;
}

#main,
#inner.wrapper,
.listbox .index,
.work.own,
.thread .even {
  background: #f4e0e0;
}

#main .heading {
  color: #dedca9 !important;
}

#header .heading {
  height: 15em;
}

#header .primary {
  background: #a86078;
}

#header .logo,
#header .heading sup {
  visibility: hidden;
}